*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body{
    width: 100%;
    height: 100%;
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    /* background-color: red; */
    width: 100%;
    padding: 2vw 7vw;
    /* padding: 2vw 8vw 2vw 9vw; */
    justify-content: space-between;
}

nav .nav-part2{
    display: flex;
    /* gap: 2vw; */
    gap: 2.5vw;
}

nav .nav-part2 a{
    font-size: 0.8vw;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

#nav-bottom{
    /* background-color: red; */
    /* height: 100%; */
    height: 0%;
    width: 86%;
    position: absolute;
    /* bottom: -100%; */
    bottom: 0%;
    border-bottom: 1px solid #dadada;
    transition: all ease 0.65s;
    display: flex;
    align-items: flex-start;
    /* justify-content: center;
    gap: 2vw; */
    /* justify-content: space-between; */
    /* padding: 2vw 15vw; */
    /* 1 */
    /* justify-content: center;
    gap: 3vw; */
    /* gap: 2.7vw; */
    justify-content: space-between;
    padding: 0.5vw 25vw 2vw 25.35vw;
}


/* .bottom-div{ */
    /* margin-top: 1vw; */
    /* position: absolute; */
/* } */

.bottom-div a span{
    /* background-color: red; */
    /* font-size: 1vw; */
    font-size: 0.9vw;
    font-weight: 500;
    display: inline-block;
    opacity: 0;
    text-decoration: none;
}

/* .bottom-div h5 span:hover{
    opacity: 1;
} */

.bottom-div a{
    /* background-color: red; */
    margin-bottom: 0.4vw;
    overflow: hidden;
    text-decoration: none;
}

/* .bottom-div{ */
    /* padding-bottom: 10vw; */
/* } */

nav:hover #nav-bottom{
    background-color: #111;
    height: 120%;
    bottom: -120%;
    z-index: 999;
}


nav button{
    background-color: #0BA34E;
    display: flex;
    align-items: center;
    /* padding: 10px 15px; */
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    /* font-size: 1vw; */
    font-size: 0.85vw;
    font-weight: 700;
    text-transform: uppercase;
    /* justify-content: space-between; */
    gap: 0.5vw;
}

nav button svg{
    height: 0.85vw;
}

/* .bottom-div{
    opacity: 0;
}

.bottom-div:hover{
    opacity: 1;
} */

/* #nav-bottom{
    opacity: 0;
}

#nav-bottom:hover{
    opacity: 1;
} */




/* nav .image-logo{ */
    /* font-size: 1vw;     */
    /* width: 9vw;
    height: 13vh; */
    /* height: 100%; */
/* } */
/* 
nav .image-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
} */

/* 
nav .button {
    --radius: 20px;
    --col0: 0, 0, 0;
    --col1: 219, 161, 240;
    --col2: 239, 214, 248;
    --col3: 255, 255, 255;
    --col4: 270, 153, 138;
    --col5: 244, 164, 177;
    --col6: 244, 136, 136;
    --col7: 243, 136, 94;
    --col8: 252, 187, 165;
    --col9: 254, 230, 222;
    --col10: 247, 197, 161;
    --col11: 245, 205, 238;
    --col12: 252, 67, 130;
    position: relative;
    background: linear-gradient(
      65deg,
      rgba(var(--col1), 0.81) 0%,
      rgba(var(--col2), 0.81) 11%,
      rgba(var(--col3), 0.81) 21%,
      rgba(var(--col3), 0.81) 24%,
      rgba(var(--col4), 0.5) 37%,
      rgba(var(--col5), 0.81) 42%,
      rgba(var(--col6), 0.81) 50%,
      rgba(var(--col7), 0.9) 58%,
      rgba(var(--col8), 0.81) 68%,
      rgba(var(--col9), 0.81) 72%,
      rgba(var(--col3), 0.81) 78%,
      rgba(var(--col10), 0.81) 86%,
      rgba(var(--col11), 0.81) 93%,
      rgba(var(--col1), 0.81) 98%
    );
    background-size: 105%;
    box-shadow: -10px 10px 0px rgba(var(--col0), 0.005),
      0px 20px 30px rgba(var(--col0), 0.16),
      inset 5px 0 20px rgba(var(--col1), 0.5),
      inset -5px 20px 10px rgba(var(--col4), 0.5),
      inset 1px 3px 3px rgba(var(--col0), 0.25),
      inset 0px -5px 1px rgba(var(--col7), 0.5),
      inset 0px -5px 1px rgba(var(--col2), 0.95),
      inset 1px 2px 1px rgba(var(--col12), 0.15),
      inset 5px 5px 1px rgba(var(--col12), 0.35),
      inset -5px 5px 1px rgba(var(--col12), 0.15),
      inset 0px -20px 10px rgba(var(--col12), 0.15);
    cursor: pointer;
    padding: 1rem 2rem;
    min-height: 5rem;
    /* min-width: 16rem; */
    /* min-width: 11rem;
    font-size: 1rem;
    padding-inline-start: 10%;
    font-weight: 600;
    filter: hue-rotate(0deg);
    color: #505050;
    border-radius: var(--radius);
    appearance: none;
    border: 0;
    transition: all 3s ease-in-out;
    z-index: 0;
}

.button:hover {
    color: rgba(var(--col7), 1);
    text-shadow: 2px 2px 5px rgba(var(--col1), 0.75);
    background-size: 350%;
    filter: hue-rotate(125deg);
}
.button:active {
    transition: all 0.1s ease-out;
    scale: 0.95;
}
  
.button:hover::after {
    backdrop-filter: blur(1px);
    opacity: 0.25;
    box-shadow: 0;
    translate: 10%;
}
.button::before {
    --border: 2px;
    box-shadow: inset 0px 0px 20px rgba(var(--col1), 0.5),
      0px 0px 1px rgba(var(--col2), 0.95);
    content: "";
    border-radius: inherit;
    position: absolute;
    display: block;
    width: calc(90% - var(--border));
    height: calc(75% - var(--border));
    inset: 0.5rem 0.5rem 0.5rem;
    z-index: 0;
    border: var(--border) solid transparent;
    transition: all 3s ease-out;
}
.button::after {
    content: "";
    aspect-ratio: 1;
    clip-path: polygon(88% 0, 70% 45%, 100% 45%, 61% 100%, 72% 57%, 43% 57%);
    position: absolute;
    background: #505050;
    backdrop-filter: blur(5px);
    width: 10%;
    opacity: 1;
    inset: 33% 0 0 25%;
    z-index: -1;
    transition: all 1s ease-out;
} */ 

/* #main{

} */

#page1{
    width: 100%;
    height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 7vw;
}

#page1 h1 svg{
    height: 5vw;
    width: 5vw;
    background-color: #0BA34E;
    border-radius: 50%;
    border: 6px solid whitesmoke;
    /* padding: 1vw; */
}

/* #page1 h1 #heading-tag{
    background-color: blue;
    border-radius: 50px;
    padding: 0.1vw 1vw;
} */

#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
    /* padding: 0 15.25vw; */
    padding: 0 21vw;
    font-size: 1.2vw;
}

#page1-somee{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1vw; */
    padding: 0.5vw 0;
    gap: 0.2vw;
}

#page1-somee h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 10px;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 50px;
    /* gap: 0.3vw; */
}

#page1-somee h4:nth-last-child(2){
    border: none;
    padding: 3px;
}


#page2{
    width: 100%;
    height: 100vh;
    background-color: #111;
}