*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body{
    width: 100%;
    height: 100%;
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    /* background-color: red; */
    width: 100%;
    padding: 2vw 7vw;
    /* padding: 2vw 8vw 2vw 9vw; */
    justify-content: space-between;
}

nav .nav-part2{
    display: flex;
    /* gap: 2vw; */
    gap: 2.5vw;
}

nav .nav-part2 h4{
    font-size: 0.8vw;
    font-weight: 500;
    text-transform: uppercase;
}

#nav-bottom{
    /* background-color: red; */
    /* height: 100%; */
    height: 0%;
    width: 86%;
    position: absolute;
    /* bottom: -100%; */
    bottom: 0%;
    border-bottom: 1px solid #dadada;
    transition: all ease 0.65s;
    display: flex;
    align-items: flex-start;
    /* justify-content: center;
    gap: 2vw; */
    /* justify-content: space-between; */
    /* padding: 2vw 15vw; */
    /* 1 */
    /* justify-content: center;
    gap: 3vw; */
    /* gap: 2.7vw; */
    justify-content: space-between;
    padding: 0.5vw 25vw 2vw 25.35vw;
}


/* .bottom-div{ */
    /* margin-top: 1vw; */
    /* position: absolute; */
/* } */

.bottom-div h5 span{
    /* background-color: red; */
    /* font-size: 1vw; */
    font-size: 0.9vw;
    font-weight: 500;
    display: inline-block;
    opacity: 0;
}

/* .bottom-div h5 span:hover{
    opacity: 1;
} */

.bottom-div h5{
    /* background-color: red; */
    margin-bottom: 0.4vw;
    overflow: hidden;
}

/* .bottom-div{ */
    /* padding-bottom: 10vw; */
/* } */

nav:hover #nav-bottom{
    background-color: #111;
    height: 120%;
    bottom: -120%;
    z-index: 999;
}

/* .bottom-div{
    opacity: 0;
}

.bottom-div:hover{
    opacity: 1;
} */

/* #nav-bottom{
    opacity: 0;
}

#nav-bottom:hover{
    opacity: 1;
} */




/* nav .image-logo{ */
    /* font-size: 1vw;     */
    /* width: 9vw;
    height: 13vh; */
    /* height: 100%; */
/* } */
/* 
nav .image-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
} */


/* #main{

} */

#page1{
    width: 100%;
    height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 7vw;
}

#page1 h1 svg{
    height: 5vw;
    width: 5vw;
    background-color: #0BA34E;
    border-radius: 50%;
    border: 6px solid whitesmoke;
    /* padding: 1vw; */
}

/* #page1 h1 #heading-tag{
    background-color: blue;
    border-radius: 50px;
    padding: 0.1vw 1vw;
} */

#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
    /* padding: 0 15.25vw; */
    padding: 0 21vw;
    font-size: 1.2vw;
}

#page1-somee{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1vw; */
    padding: 0.5vw 0;
    gap: 0.2vw;
}

#page1-somee h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 10px;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 50px;
    /* gap: 0.3vw; */
}

#page1-somee h4:nth-last-child(2){
    border: none;
    padding: 3px;
}


#page2{
    width: 100%;
    height: 100vh;
    background-color: #111;
}